:root {
  --purple-highlight: #C4A5EA;
  --purple-200: #E5D7F4;
  --purple-300: #C9B3E0;
  --purple-500: #7725D0;
  --purple-600: #8956DC;
  --purple-900: #261A32;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

:focus {
  outline: 2px var(--purple-highlight) solid;
}