body {
  background-color: #9590A9;
  color: #FFF;
  font-size: 16px;
}
.popupContainer,
.loginContainer {
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
}
.popupContainer {
  position: absolute;
  display: none;
  background-color: hsla(270, 32%, 15%, 0.64);
}
.popupContainer.view {
  display: flex;
}
.popup {
  font-size: 18px;
  color: var(--purple-900);
  background-color: var(--purple-200);

  max-width: 99%;
  width: max-content;
  min-width: 320px;
  padding: 24px;
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
.popup__header {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.loginContainer {
  display: flex;
  padding: auto 80px;
}

.login {
  width: max-content;
  max-height: 85vh;
  background-color: var(--purple-900);
  border-radius: 24px;

  display: flex;
  align-items: center;
  gap: 56px;
  padding: 24px;
}
.login__banner {
  width: 50%;
  max-height: calc(85vh - 48px);
  border-radius: 24px;
}

/* Lado direito do container roxo, com o form */
.form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.form__header {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--purple-200);

  text-align: center;
  margin-bottom: 16px;
  width: max-content;
}
.form__subtitle  {
  color: var(--purple-300);
  text-align: center;
}

.form__credentials {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 32px;
}
.form__inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form__input {
  color: var(--purple-200);
  background-color: #3E304E;
  border: 1px solid #4E3D63;
  border-radius: 8px;

  padding: 16px;
}
.form__input::placeholder {
  color: #7F758A;
}

.form__submit {
  margin-top: 32px;
  padding: 16px 0;
  border-radius: 8px;

  font-weight: 700;
  background-color: var(--purple-500);
  transition: background-color .4s ease;
}
.form__submit:hover {
  background-color: var(--purple-600);
}

@media screen and (max-width:1024px) {
  .login {
    padding: 24px 16px;
  }
  .login__banner {
    display: none;
  }
  .form {
    max-width: 100%;
    margin: auto;
  }
  .form__credentials {
    padding: 0 5%;
  }
}

@media screen and (max-width:1280px) { 
  .loginContainer { 
    padding: 0;
    width: 88%;
    margin: auto;
  }
  .login {
    flex: 1 1 0;
    width: 88%;
    margin: auto;
  }
  .form__header {
    width: auto;
    font-size: 40px;
  }
  .login {
    gap: 40px;
  }
}